textarea{
    vertical-align: top;
}
/* HTML Tags */
body{
    background-color: #F0F0F0;
    font-family: 'Montserrat', sans-serif;
}


/* CreateTicket */
.ticket-container{
    background-color: #3E497A;
    padding: 50px;
    color: white;
    border: #3E497A solid 1px;
    border-radius: 3%;
    margin: 3% 14% 60% 14%;
}

.footer{
    background-color: #21325E;
    text-align: center;
    padding: 15px 0 35px 0;
    color: white;
    margin-top: 1%;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
div.footer h2{
    margin-bottom: 0;
}
/* Bugs */
.bugComp{
    background-color: #21325E;
    padding: 30px 70px 30px 30px;
    border: 5px solid #21325E;
    border-radius: 1.5rem;
    margin-bottom: 20px;
}
div.bugComp h5{
    font-weight: bold;
}

div.bugComp > .row{
    margin-bottom: 15px;    
}

.Low{
    background-color: greenyellow;
    text-align: center;
    padding-top: 1px;
    border: 1px greenyellow solid;
    border-radius: 0.5rem;
}
.Normal{
    background-color: orange;
    text-align: center;
    padding-top: 1px;
    border: 1px orange solid;
    border-radius: 0.5rem;
}
.High{
    background-color: crimson;
    text-align: center;
    padding-top: 1px;
    border: 1px crimson solid;
    border-radius: 0.5rem;
}
div.text-end h5{
    margin-bottom: 0;
}






/* Navbar */
.navbar{
    background-color: #F1D00A;
    text-align: left;
    color: white;
    padding-left: 40px;
    margin-bottom: 5% ;
}

div.navbar h2{
    font-family: 'Ubuntu', sans-serif;
}



/* Bootstrap */
.form-group{
    padding-bottom: 20px;
}



/*Scrollable columun  */
.right{
    height: 100%;
    overflow-y: scroll;
}
.row-height{
    height: 100vh;
}