/* HTML Tags */
body{
    font-family: 'Silkscreen', cursive;
}
span{
    color:white;
}
h1 {
    /* margin: 0 auto; */
    font-size: 3.5em;
 }


/* CreateTicket */
.ticket-container{
    background-color: #f6f5ff;
    margin: 5% 15% 5% 15%;
    padding: 5%;
    color: black;
    border: 10px inset;
    border-color: #333333 #a3a3a8 #dadae0;
    box-shadow: 15px 15px 3px #525252 ;
}

.create-input-css-my{
    background-color: blue;
    color:white;
    border: 5px inset;
    border-color: #333333 #a3a3a8;
}
.vert-align-my{
    vertical-align: middle;
}

.footer{
    background-color: #21325E;
    text-align: center;
    padding: 15px 0 35px 0;
    color: white;
    margin-top: 1%;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
div.footer h2{
    margin-bottom: 0;
}
/* Bugs */
.bugComp{
    background-color: #807dbd;
    padding: 30px 70px 30px 30px;
    border: 6px solid #21325E;
    margin-bottom: 20px;
    box-shadow: 7px 7px 3px #525252;
}
div.bugComp h5{
    font-weight: bold;
}

div.bugComp > .row{
    margin-bottom: 15px;    
}

.Low{
    background-color: #b7c9ed;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 3px;
}
.Normal{
    background-color: orange;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 3px;
}
.High{
    background-color: crimson;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 3px;
}
div.text-end h5{
    margin-bottom: 0;
}


/* my button */
.my-btn{
    background-color: green;
    color: white;
    border: 5px inset;
    border-color: #333333 #a3a3a8;
}
.bug-comp-btn{
    background-color: #0dcaf0;
    border: 3px solid black;
}
.return-btn{
    background-color: #0dcaf0;
    border: 3px solid black;
    font-size: 1.25em;
    margin-bottom: 20px ;
}
.complete-btn{
    background-color: #27e848;
    color: black;
    border: 3px solid black;
}



/* Navbar */
.my-navbar{
    background-color:#f6f5ff;
    color: black;
    margin: 0 0 6% 0 ;
    border: 10px inset;
    margin: 5% 15% 5% 15%;
    border-color: #333333 #a3a3a8 #dadae0;
    box-shadow: 15px 15px 3px #525252 ;
}
div.my-navbar .row{
    margin: 0;
    padding: 20px 20px 15px 20px;

}




/* Bootstarp v2 */
.form-control{
    background-color: black;
}
.col-3{
    border: solid 3px black;
}


